.text {
    font-size: 18px;
     font-weight: 600
}
.cartHeading {
    font-size: 16px;
     font-weight: 500
}
.listTextCart {
    font-size: 16px;
}
.textView {
    font-size: 20px;
    font-weight: 400
}
.iconButton {
    background-color: #f1b0b7;
     border-radius: 0px;
      color: #000;
      :hover {
        background-color: #f1b0b7;
      }
}